:root {
  --primary-900: rgba(93, 95, 239, 1);
  --primary-800: rgba(64, 121, 237, 1);
  --primary-300: rgba(241, 248, 253, 1);
  --primarydark-shade: rgba(5, 0, 78, 1);
  --primary-200: rgba(123, 145, 176, 1);
  --secondary-900: rgba(252, 125, 76, 1);
  --secondary-800: rgba(255, 150, 108, 1);
  --secondary-700: rgba(255, 243, 239, 1);
  --greysblue-grey100: rgba(255, 255, 255, 1);
  --greysblue-grey200: rgba(252, 253, 255, 1);
  --greysblue-grey300: rgba(249, 250, 251, 1);
  --greysblue-grey400: rgba(232, 232, 237, 1);
  --greysblue-grey500: rgba(208, 210, 218, 1);
  --greysblue-grey600: rgba(161, 165, 182, 1);
  --greysblue-grey700: rgba(115, 119, 145, 1);
  --greysblue-grey800: rgba(68, 74, 109, 1);
  --greysblue-grey900: rgba(21, 29, 72, 1);
  --supporting-colorgreen: rgba(60, 216, 86, 1);
  --supporting-colorgreen-shade: rgba(226, 255, 243, 1);
  --supporting-coloryellow: rgba(255, 164, 18, 1);
  --supporting-coloryellow-shade: rgba(255, 250, 241, 1);
  --supporting-colorviolet: rgba(167, 0, 255, 1);
  --supporting-colorviolet-shade: rgba(251, 241, 255, 1);
  --supporting-color-pink: rgba(255, 116, 196, 1);
  --supporting-color-pink-shade: rgba(255, 241, 254, 1);
  --state-colorsinfo: rgba(47, 128, 237, 1);
  --state-colorssuccess: rgba(39, 174, 96, 1);
  --state-colorswarning: rgba(239, 190, 39, 1);
  --state-colorserror: rgba(235, 87, 87, 1);
  --colorsred-50: rgba(254, 242, 242, 1);
  --colorsred-100: rgba(254, 226, 226, 1);
  --colorsred-200: rgba(254, 202, 202, 1);
  --colorsred-300: rgba(252, 165, 165, 1);
  --colorsred-400: rgba(248, 113, 113, 1);
  --colorsred-500: rgba(239, 68, 68, 1);
  --colorsred-600: rgba(220, 38, 38, 1);
  --colorsred-700: rgba(185, 28, 28, 1);
  --colorsred-800: rgba(153, 27, 27, 1);
  --colorsred-900: rgba(127, 29, 29, 1);
  --colorsorange-50: rgba(255, 247, 237, 1);
  --colorsorange-100: rgba(255, 237, 213, 1);
  --colorsorange-200: rgba(254, 215, 170, 1);
  --colorsorange-300: rgba(253, 186, 116, 1);
  --colorsorange-400: rgba(251, 146, 60, 1);
  --colorsorange-500: rgba(249, 115, 22, 1);
  --colorsorange-600: rgba(234, 88, 12, 1);
  --colorsorange-700: rgba(194, 65, 12, 1);
  --colorsorange-800: rgba(154, 52, 18, 1);
  --colorsorange-900: rgba(124, 45, 18, 1);
  --colorsamber-50: rgba(255, 251, 235, 1);
  --colorsamber-100: rgba(254, 243, 199, 1);
  --colorsamber-200: rgba(253, 230, 138, 1);
  --colorsamber-300: rgba(252, 211, 77, 1);
  --colorsamber-400: rgba(251, 191, 36, 1);
  --colorsamber-500: rgba(245, 158, 11, 1);
  --colorsamber-600: rgba(217, 119, 6, 1);
  --colorsamber-700: rgba(180, 83, 9, 1);
  --colorsamber-800: rgba(146, 64, 14, 1);
  --colorsamber-900: rgba(120, 53, 15, 1);
  --colorsyellow-50: rgba(254, 252, 232, 1);
  --colorsyellow-100: rgba(254, 249, 195, 1);
  --colorsyellow-200: rgba(254, 240, 138, 1);
  --colorsyellow-300: rgba(253, 224, 71, 1);
  --colorsyellow-400: rgba(250, 204, 21, 1);
  --colorsyellow-500: rgba(234, 179, 8, 1);
  --colorsyellow-600: rgba(202, 138, 4, 1);
  --colorsyellow-700: rgba(161, 98, 7, 1);
  --colorsyellow-800: rgba(133, 77, 14, 1);
  --colorsyellow-900: rgba(113, 63, 18, 1);
  --colorslime-50: rgba(247, 254, 231, 1);
  --colorslime-100: rgba(236, 252, 203, 1);
  --colorslime-200: rgba(217, 249, 157, 1);
  --colorslime-300: rgba(190, 242, 100, 1);
  --colorslime-400: rgba(163, 230, 53, 1);
  --colorslime-500: rgba(132, 204, 22, 1);
  --colorslime-600: rgba(101, 163, 13, 1);
  --colorslime-700: rgba(77, 124, 15, 1);
  --colorslime-800: rgba(63, 98, 18, 1);
  --colorslime-900: rgba(54, 83, 20, 1);
  --colorsgreen-50: rgba(240, 253, 244, 1);
  --colorsgreen-100: rgba(220, 252, 231, 1);
  --colorsgreen-200: rgba(187, 247, 208, 1);
  --colorsgreen-300: rgba(134, 239, 172, 1);
  --colorsgreen-400: rgba(74, 222, 128, 1);
  --colorsgreen-500: rgba(34, 197, 94, 1);
  --colorsgreen-600: rgba(22, 163, 74, 1);
  --colorsgreen-700: rgba(21, 128, 61, 1);
  --colorsgreen-800: rgba(22, 101, 52, 1);
  --colorsgreen-900: rgba(20, 83, 45, 1);
  --colorsemerald-50: rgba(236, 253, 245, 1);
  --colorsemerald-100: rgba(209, 250, 229, 1);
  --colorsemerald-200: rgba(167, 243, 208, 1);
  --colorsemerald-300: rgba(110, 231, 183, 1);
  --colorsemerald-400: rgba(52, 211, 153, 1);
  --colorsemerald-500: rgba(16, 185, 129, 1);
  --colorsemerald-600: rgba(5, 150, 105, 1);
  --colorsemerald-700: rgba(4, 120, 87, 1);
  --colorsemerald-800: rgba(6, 95, 70, 1);
  --colorsemerald-900: rgba(6, 78, 59, 1);
  --colorsteal-50: rgba(240, 253, 250, 1);
  --colorsteal-100: rgba(204, 251, 241, 1);
  --colorsteal-200: rgba(153, 246, 228, 1);
  --colorsteal-300: rgba(94, 234, 212, 1);
  --colorsteal-400: rgba(45, 212, 191, 1);
  --colorsteal-500: rgba(20, 184, 166, 1);
  --colorsteal-600: rgba(13, 148, 136, 1);
  --colorsteal-700: rgba(15, 118, 110, 1);
  --colorsteal-800: rgba(17, 94, 89, 1);
  --colorsteal-900: rgba(19, 78, 74, 1);
  --colorscyan-50: rgba(236, 254, 255, 1);
  --colorscyan-100: rgba(207, 250, 254, 1);
  --colorscyan-200: rgba(165, 243, 252, 1);
  --colorscyan-300: rgba(103, 232, 249, 1);
  --colorscyan-400: rgba(34, 211, 238, 1);
  --colorscyan-500: rgba(6, 182, 212, 1);
  --colorscyan-600: rgba(8, 145, 178, 1);
  --colorscyan-700: rgba(14, 116, 144, 1);
  --colorscyan-800: rgba(21, 94, 117, 1);
  --colorscyan-900: rgba(22, 78, 99, 1);
  --colorslight-blue50: rgba(240, 249, 255, 1);
  --colorslight-blue100: rgba(224, 242, 254, 1);
  --colorslight-blue200: rgba(186, 230, 253, 1);
  --colorslight-blue300: rgba(125, 211, 252, 1);
  --colorslight-blue400: rgba(56, 189, 248, 1);
  --colorslight-blue500: rgba(14, 165, 233, 1);
  --colorslight-blue600: rgba(2, 132, 199, 1);
  --colorslight-blue700: rgba(3, 105, 161, 1);
  --colorslight-blue800: rgba(7, 89, 133, 1);
  --colorslight-blue900: rgba(12, 74, 110, 1);
  --colorsblue-50: rgba(239, 246, 255, 1);
  --colorsblue-100: rgba(219, 234, 254, 1);
  --colorsblue-200: rgba(191, 219, 254, 1);
  --colorsblue-300: rgba(147, 197, 253, 1);
  --colorsblue-400: rgba(96, 165, 250, 1);
  --colorsblue-500: rgba(59, 130, 246, 1);
  --colorsblue-600: rgba(37, 99, 235, 1);
  --colorsblue-700: rgba(29, 78, 216, 1);
  --colorsblue-800: rgba(30, 64, 175, 1);
  --colorsblue-900: rgba(30, 58, 138, 1);
  --colorsindigo-50: rgba(238, 242, 255, 1);
  --colorsindigo-100: rgba(224, 231, 255, 1);
  --colorsindigo-200: rgba(199, 210, 254, 1);
  --colorsindigo-300: rgba(165, 180, 252, 1);
  --colorsindigo-400: rgba(129, 140, 248, 1);
  --colorsindigo-500: rgba(99, 102, 241, 1);
  --colorsindigo-600: rgba(79, 70, 229, 1);
  --colorsindigo-700: rgba(67, 56, 202, 1);
  --colorsindigo-800: rgba(55, 48, 163, 1);
  --colorsindigo-900: rgba(49, 46, 129, 1);
  --colorsviolet-50: rgba(245, 243, 255, 1);
  --colorsviolet-100: rgba(237, 233, 254, 1);
  --colorsviolet-200: rgba(221, 214, 254, 1);
  --colorsviolet-300: rgba(196, 181, 253, 1);
  --colorsviolet-400: rgba(167, 139, 250, 1);
  --colorsviolet-500: rgba(139, 92, 246, 1);
  --colorsviolet-600: rgba(124, 58, 237, 1);
  --colorsviolet-700: rgba(109, 40, 217, 1);
  --colorsviolet-800: rgba(91, 33, 182, 1);
  --colorsviolet-900: rgba(76, 29, 149, 1);
  --colorspurple-50: rgba(250, 245, 255, 1);
  --colorspurple-100: rgba(243, 232, 255, 1);
  --colorspurple-200: rgba(233, 213, 255, 1);
  --colorspurple-300: rgba(216, 180, 254, 1);
  --colorspurple-400: rgba(192, 132, 252, 1);
  --colorspurple-500: rgba(168, 85, 247, 1);
  --colorspurple-600: rgba(147, 51, 234, 1);
  --colorspurple-700: rgba(126, 34, 206, 1);
  --colorspurple-800: rgba(107, 33, 168, 1);
  --colorspurple-900: rgba(88, 28, 135, 1);
  --colorsfuchsia-50: rgba(253, 244, 255, 1);
  --colorsfuchsia-100: rgba(250, 232, 255, 1);
  --colorsfuchsia-200: rgba(245, 208, 254, 1);
  --colorsfuchsia-300: rgba(240, 171, 252, 1);
  --colorsfuchsia-400: rgba(232, 121, 249, 1);
  --colorsfuchsia-500: rgba(217, 70, 239, 1);
  --colorsfuchsia-600: rgba(192, 38, 211, 1);
  --colorsfuchsia-700: rgba(162, 28, 175, 1);
  --colorsfuchsia-800: rgba(134, 25, 143, 1);
  --colorsfuchsia-900: rgba(112, 26, 117, 1);
  --colorspink-50: rgba(253, 242, 248, 1);
  --colorspink-100: rgba(252, 231, 243, 1);
  --colorspink-200: rgba(251, 207, 232, 1);
  --colorspink-300: rgba(249, 168, 212, 1);
  --colorspink-400: rgba(244, 114, 182, 1);
  --colorspink-500: rgba(236, 72, 153, 1);
  --colorspink-600: rgba(219, 39, 119, 1);
  --colorspink-700: rgba(190, 24, 93, 1);
  --colorspink-800: rgba(157, 23, 77, 1);
  --colorspink-900: rgba(131, 24, 67, 1);
  --colorsrose-50: rgba(255, 241, 242, 1);
  --colorsrose-100: rgba(255, 228, 230, 1);
  --colorsrose-200: rgba(254, 205, 211, 1);
  --colorsrose-300: rgba(253, 164, 175, 1);
  --colorsrose-400: rgba(251, 113, 133, 1);
  --colorsrose-500: rgba(244, 63, 94, 1);
  --colorsrose-600: rgba(225, 29, 72, 1);
  --colorsrose-700: rgba(190, 18, 60, 1);
  --colorsrose-800: rgba(159, 18, 57, 1);
  --colorsrose-900: rgba(136, 19, 55, 1);
  --basic-black: rgba(0, 0, 0, 1);
  --basic-white: rgba(255, 255, 255, 1);
  --colorwhite: rgba(255, 255, 255, 1);
  --colorblack: rgba(55, 69, 87, 1);
  --neutral-10: rgba(255, 255, 255, 1);
  --xs-regular-font-family: "Poppins-Regular", Helvetica;
  --xs-regular-font-weight: 400;
  --xs-regular-font-size: 12px;
  --xs-regular-letter-spacing: 0px;
  --xs-regular-line-height: 16px;
  --xs-regular-font-style: normal;
  --xs-medium-font-family: "Poppins-Medium", Helvetica;
  --xs-medium-font-weight: 500;
  --xs-medium-font-size: 12px;
  --xs-medium-letter-spacing: 0px;
  --xs-medium-line-height: 16px;
  --xs-medium-font-style: normal;
  --xs-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --xs-semibold-font-weight: 600;
  --xs-semibold-font-size: 12px;
  --xs-semibold-letter-spacing: 0px;
  --xs-semibold-line-height: 16px;
  --xs-semibold-font-style: normal;
  --xs-bold-font-family: "Poppins-Bold", Helvetica;
  --xs-bold-font-weight: 700;
  --xs-bold-font-size: 12px;
  --xs-bold-letter-spacing: 0px;
  --xs-bold-line-height: 16px;
  --xs-bold-font-style: normal;
  --sm-regular-font-family: "Poppins-Regular", Helvetica;
  --sm-regular-font-weight: 400;
  --sm-regular-font-size: 14px;
  --sm-regular-letter-spacing: 0px;
  --sm-regular-line-height: 20px;
  --sm-regular-font-style: normal;
  --sm-medium-font-family: "Poppins-Medium", Helvetica;
  --sm-medium-font-weight: 500;
  --sm-medium-font-size: 14px;
  --sm-medium-letter-spacing: 0px;
  --sm-medium-line-height: 20px;
  --sm-medium-font-style: normal;
  --sm-semibold-font-family: "Poppins-Bold", Helvetica;
  --sm-semibold-font-weight: 700;
  --sm-semibold-font-size: 14px;
  --sm-semibold-letter-spacing: 0px;
  --sm-semibold-line-height: 20px;
  --sm-semibold-font-style: normal;
  --sm-bold-font-family: "Poppins-Bold", Helvetica;
  --sm-bold-font-weight: 700;
  --sm-bold-font-size: 14px;
  --sm-bold-letter-spacing: 0px;
  --sm-bold-line-height: 20px;
  --sm-bold-font-style: normal;
  --base-regular-font-family: "Poppins-Regular", Helvetica;
  --base-regular-font-weight: 400;
  --base-regular-font-size: 16px;
  --base-regular-letter-spacing: 0px;
  --base-regular-line-height: 30px;
  --base-regular-font-style: normal;
  --base-medium-font-family: "Poppins-Medium", Helvetica;
  --base-medium-font-weight: 500;
  --base-medium-font-size: 16px;
  --base-medium-letter-spacing: 0px;
  --base-medium-line-height: 24px;
  --base-medium-font-style: normal;
  --base-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --base-semibold-font-weight: 600;
  --base-semibold-font-size: 16px;
  --base-semibold-letter-spacing: 0px;
  --base-semibold-line-height: 24px;
  --base-semibold-font-style: normal;
  --base-bold-font-family: "Poppins-Bold", Helvetica;
  --base-bold-font-weight: 700;
  --base-bold-font-size: 16px;
  --base-bold-letter-spacing: 0px;
  --base-bold-line-height: 24px;
  --base-bold-font-style: normal;
  --lg-regular-font-family: "Poppins-Regular", Helvetica;
  --lg-regular-font-weight: 400;
  --lg-regular-font-size: 18px;
  --lg-regular-letter-spacing: 0px;
  --lg-regular-line-height: 32px;
  --lg-regular-font-style: normal;
  --lg-medium-font-family: "Poppins-Medium", Helvetica;
  --lg-medium-font-weight: 500;
  --lg-medium-font-size: 18px;
  --lg-medium-letter-spacing: 0px;
  --lg-medium-line-height: 28px;
  --lg-medium-font-style: normal;
  --lg-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --lg-semibold-font-weight: 600;
  --lg-semibold-font-size: 18px;
  --lg-semibold-letter-spacing: 0px;
  --lg-semibold-line-height: 28px;
  --lg-semibold-font-style: normal;
  --lg-bold-font-family: "Poppins-Bold", Helvetica;
  --lg-bold-font-weight: 700;
  --lg-bold-font-size: 18px;
  --lg-bold-letter-spacing: 0px;
  --lg-bold-line-height: 28px;
  --lg-bold-font-style: normal;
  --xl-regular-font-family: "Poppins-Regular", Helvetica;
  --xl-regular-font-weight: 400;
  --xl-regular-font-size: 20px;
  --xl-regular-letter-spacing: 0px;
  --xl-regular-line-height: 28px;
  --xl-regular-font-style: normal;
  --xl-medium-font-family: "Poppins-Medium", Helvetica;
  --xl-medium-font-weight: 500;
  --xl-medium-font-size: 20px;
  --xl-medium-letter-spacing: 0px;
  --xl-medium-line-height: 28px;
  --xl-medium-font-style: normal;
  --xl-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --xl-semibold-font-weight: 600;
  --xl-semibold-font-size: 20px;
  --xl-semibold-letter-spacing: 0px;
  --xl-semibold-line-height: 32px;
  --xl-semibold-font-style: normal;
  --xl-bold-font-family: "Poppins-Bold", Helvetica;
  --xl-bold-font-weight: 700;
  --xl-bold-font-size: 20px;
  --xl-bold-letter-spacing: 0px;
  --xl-bold-line-height: 28px;
  --xl-bold-font-style: normal;
  --2xl-regular-font-family: "Poppins-Regular", Helvetica;
  --2xl-regular-font-weight: 400;
  --2xl-regular-font-size: 24px;
  --2xl-regular-letter-spacing: 0px;
  --2xl-regular-line-height: 32px;
  --2xl-regular-font-style: normal;
  --2xl-medium-font-family: "Poppins-Medium", Helvetica;
  --2xl-medium-font-weight: 500;
  --2xl-medium-font-size: 24px;
  --2xl-medium-letter-spacing: 0px;
  --2xl-medium-line-height: 32px;
  --2xl-medium-font-style: normal;
  --2xl-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --2xl-semibold-font-weight: 600;
  --2xl-semibold-font-size: 24px;
  --2xl-semibold-letter-spacing: 0px;
  --2xl-semibold-line-height: 32px;
  --2xl-semibold-font-style: normal;
  --2xl-bold-font-family: "Poppins-Bold", Helvetica;
  --2xl-bold-font-weight: 700;
  --2xl-bold-font-size: 24px;
  --2xl-bold-letter-spacing: 0px;
  --2xl-bold-line-height: 32px;
  --2xl-bold-font-style: normal;
  --3xl-regular-font-family: "Poppins-Regular", Helvetica;
  --3xl-regular-font-weight: 400;
  --3xl-regular-font-size: 30px;
  --3xl-regular-letter-spacing: 0px;
  --3xl-regular-line-height: 36px;
  --3xl-regular-font-style: normal;
  --3xl-medium-font-family: "Poppins-Medium", Helvetica;
  --3xl-medium-font-weight: 500;
  --3xl-medium-font-size: 30px;
  --3xl-medium-letter-spacing: 0px;
  --3xl-medium-line-height: 36px;
  --3xl-medium-font-style: normal;
  --3xl-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --3xl-semibold-font-weight: 600;
  --3xl-semibold-font-size: 30px;
  --3xl-semibold-letter-spacing: 0px;
  --3xl-semibold-line-height: 150%;
  --3xl-semibold-font-style: normal;
  --3xl-bold-font-family: "Poppins-Bold", Helvetica;
  --3xl-bold-font-weight: 700;
  --3xl-bold-font-size: 30px;
  --3xl-bold-letter-spacing: 0px;
  --3xl-bold-line-height: 36px;
  --3xl-bold-font-style: normal;
  --4xl-regular-font-family: "Poppins-Regular", Helvetica;
  --4xl-regular-font-weight: 400;
  --4xl-regular-font-size: 36px;
  --4xl-regular-letter-spacing: 0px;
  --4xl-regular-line-height: 40px;
  --4xl-regular-font-style: normal;
  --4xl-medium-font-family: "Poppins-Medium", Helvetica;
  --4xl-medium-font-weight: 500;
  --4xl-medium-font-size: 36px;
  --4xl-medium-letter-spacing: 0px;
  --4xl-medium-line-height: 40px;
  --4xl-medium-font-style: normal;
  --4xl-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --4xl-semibold-font-weight: 600;
  --4xl-semibold-font-size: 36px;
  --4xl-semibold-letter-spacing: 0px;
  --4xl-semibold-line-height: 139.9999976158142%;
  --4xl-semibold-font-style: normal;
  --4xl-bold-font-family: "Poppins-Bold", Helvetica;
  --4xl-bold-font-weight: 700;
  --4xl-bold-font-size: 36px;
  --4xl-bold-letter-spacing: 0px;
  --4xl-bold-line-height: 40px;
  --4xl-bold-font-style: normal;
  --5xl-regular-font-family: "Poppins-Regular", Helvetica;
  --5xl-regular-font-weight: 400;
  --5xl-regular-font-size: 48px;
  --5xl-regular-letter-spacing: 0px;
  --5xl-regular-line-height: 48px;
  --5xl-regular-font-style: normal;
  --5xl-medium-font-family: "Poppins-Medium", Helvetica;
  --5xl-medium-font-weight: 500;
  --5xl-medium-font-size: 48px;
  --5xl-medium-letter-spacing: 0px;
  --5xl-medium-line-height: 48px;
  --5xl-medium-font-style: normal;
  --5xl-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --5xl-semibold-font-weight: 600;
  --5xl-semibold-font-size: 48px;
  --5xl-semibold-letter-spacing: 0px;
  --5xl-semibold-line-height: 60px;
  --5xl-semibold-font-style: normal;
  --5xl-bold-font-family: "Poppins-Bold", Helvetica;
  --5xl-bold-font-weight: 700;
  --5xl-bold-font-size: 48px;
  --5xl-bold-letter-spacing: 0px;
  --5xl-bold-line-height: 48px;
  --5xl-bold-font-style: normal;
  --6xl-regular-font-family: "Poppins-Bold", Helvetica;
  --6xl-regular-font-weight: 700;
  --6xl-regular-font-size: 60px;
  --6xl-regular-letter-spacing: 0px;
  --6xl-regular-line-height: 60px;
  --6xl-regular-font-style: normal;
  --6xl-medium-font-family: "Poppins-Medium", Helvetica;
  --6xl-medium-font-weight: 500;
  --6xl-medium-font-size: 60px;
  --6xl-medium-letter-spacing: 0px;
  --6xl-medium-line-height: 60px;
  --6xl-medium-font-style: normal;
  --6xl-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --6xl-semibold-font-weight: 600;
  --6xl-semibold-font-size: 52px;
  --6xl-semibold-letter-spacing: 0px;
  --6xl-semibold-line-height: 70px;
  --6xl-semibold-font-style: normal;
  --6xl-bold-font-family: "Poppins-Bold", Helvetica;
  --6xl-bold-font-weight: 700;
  --6xl-bold-font-size: 52px;
  --6xl-bold-letter-spacing: 0px;
  --6xl-bold-line-height: 76px;
  --6xl-bold-font-style: normal;
  --text-text-regular-1-font-family: "Poppins-Regular", Helvetica;
  --text-text-regular-1-font-weight: 400;
  --text-text-regular-1-font-size: 18px;
  --text-text-regular-1-letter-spacing: 0px;
  --text-text-regular-1-line-height: normal;
  --text-text-regular-1-font-style: normal;
  --text-text-semi-bold-1-font-family: "Poppins-SemiBold", Helvetica;
  --text-text-semi-bold-1-font-weight: 600;
  --text-text-semi-bold-1-font-size: 18px;
  --text-text-semi-bold-1-letter-spacing: 0px;
  --text-text-semi-bold-1-line-height: normal;
  --text-text-semi-bold-1-font-style: normal;
  --blue: 0px 30px 50px -3px rgba(0, 119, 255, 0.08);
  --gray: 0px 25px 50px 0px rgba(0, 0, 0, 0.07);
  --green: 0px 15px 40px 0px rgba(65, 229, 170, 0.1);
  --blue-small: 0px 8px 40px 0px rgba(55, 51, 167, 0.1);
  --blue-large: 0px 20px 50px 0px rgba(38, 45, 118, 0.08);
  --shadow: 0px 20px 50px 0px rgba(55, 69, 87, 0.1);
}
